<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lijiawei.pro.boke.mapper.TagMapper">

    <resultMap id="BaseResultMap" type="com.lijiawei.pro.boke.bean.entity.Tag">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tagName" column="tag_name" jdbcType="VARCHAR"/>
            <result property="avatar" column="avartar" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tag_name,avartar
    </sql>
    <select id="getTagByArticleId" resultType="com.lijiawei.pro.boke.bean.vo.TagVO">
        select tag_id as id , tag_name, avatar
        from t_article_tag l
        inner join t_tag r
        on l.tag_id = r.id
        where l.article_id = #{article_id}
    </select>
</mapper>
